{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/reveal.css">


<div class="container">
  <section>
    <h1>Unrevealed: {{ total_left }}</h1>
    <h1>Average stats for Unrevealed:</h1>
    <table>
      <tr>
        <th>Background</th>
        <th>Eyes</th>
        <th>Teeth</th>
        <th>Body</th>
      </tr>
      <tr>
        <th>{{ "%.2f"|format(total_background_worth / total_left) }}</th>
        <th>{{ "%.2f"|format(total_eye_worth / total_left) }}</th>
        <th>{{ "%.2f"|format(total_teeth_worth / total_left) }}</th>
        <th>{{ "%.2f"|format(total_body_worth / total_left) }}</th>
      </tr>
    </table>

    {% for type in trait_types %}

      <h1> {{ type }} </h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Revealed</th>
          <th>Left</th>
          <th>Value</th>
        </tr>

          {% for dict in result %}
            {% for x in result[dict] %}
                {% if dict == type %}
                <tr>
                <td> {{ x }}</td>
                <td> {{ result[dict][x][0] }}</td>
                {% if x == "Special" %}
                    <td> 25 </td>
                    <td> 1 </td>
                {% endif %}
                {% if x != "Special" %}
                    <td> {{ result[dict][x][1] }}</td>
                    <td> {{ result[dict][x][2] }}</td>
                {% endif %}
                <td> {{ result[dict][x][3]  }}</td>
                </tr>
                {% endif %}
            {% endfor %}
          {% endfor %}
      </table>
    {% endfor %}

  </section>

</div>

{% endblock %}