.content-container {
    text-align: center;
}
.content-container h1 {
    margin-bottom: 25px;
}

input {
    margin: .4rem;
}

.charts-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px 0 25px 0;
}
.charts-container > div {
    padding: 10px;
    background-color: #1F2330;
    border-radius: 12px;
    margin-bottom: 50px;
    width: 400px;
}
/* phones < 600 */
@media only screen and (max-width: 600px) {
    .charts-container > div {
        width: 400px;
        height: auto;
    }
}
/* tables & phone >600 */
@media only screen and (min-width: 600px) {
    .charts-container > div {
        width: 600px;
        height: auto;
    }
}
/* medium 768px */
@media only screen and (min-width: 768px) {
    .charts-container > div {
        width: 700px;
        height: auto;
    }
}
/* large tables, laptop 992px */
@media only screen and (min-width: 992px) {
    .charts-container > div {
        width: 800px;
        height: auto;
    }
}
/* large, desktop 1200px + */
@media only screen and (min-width: 1200px) {
    .charts-container > div {
        width: 1000px;
        height: auto;
    }
}

.container-field {
    width: 60%;
    margin: auto;
}

.labl {
    display : block;
    width: 100%;
    padding: 0 20% 0 20%;
}
.labl > input{
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #FFF01F;
    border: 1px solid #ff6600;
}


#search-sport-label {
    color: white;
}

.clearbtn {
    background-color: #ff3333;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
  }

.rangeButton {
    background-color: gray;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
}

  .sports {
    padding: 8px 16px;
  }




.work {
    min-height: 250px;
}